/* General Styles */  
body {  
    margin: 0;  
    background-color: #b4a396;  
  }  
  
  .App {  
    max-width: 1200px;  
    margin: auto;  
    padding: 20px;  
    width: 100%;
  }  
  
  /* Header Styles */  
  .header {  
    width: 100%;
    text-align: center;  
    padding: 50px 0;     /* space inside an element */ 
    background-image: url("headerbg.jpeg");
    background-size: 100%;
    color: white;
    font-size: large; 
    font-family:sans-serif;
  }

  .header h1 {  
    margin: 0;        /* space outside an element */ 
    font-family: brush script mt, cursive;
    font-size: xxx-large;
    color: whitesmoke;
  }  
  
  .header nav ul {  
    list-style: none;  
    padding: 0;  
  }  
  
  .header nav ul li {  
    display: inline;      /* do not start on a new line they flow within the same line */ 
    margin: 0 15px;       /* 0(top bottom) 15px(side by side) */
  }  
  
  .header nav ul li a {  
    color: white;  
    text-decoration: none;  /* no underline */
    transition: color 1s ease;  /* color transition */
  }  
  
  .header nav ul li a:hover {  
    color: #7b6858; /* Change color on hover */  
  }  
  
  /* Body */ 

  .aboutme h2 {
    font-family: serif;
    font-weight: 200;
    font-size: 29px;
    color: white;
  } 

  .aboutme p {
    font-family: sans-serif;
  }
  .aboutme {  
    padding: 30px 80px; 
    background-image: url("aboutme.jpeg");
    background-size: 100%; 
    margin: 20px 0;  
    border-radius: 8px;  /* curves edges */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  /* 0(position centered horizontally) 2px(indicates how far down the shadow is placed) 10px(shadow blur) 000(color black) 0.1(opacity) */
    transition: all 0.3s ease;  
    color: white;
    font-weight:600;
  }  
  
  .aboutme:hover {  
    transform: translateY(-5px);  
  }  

  .skills h2 {
    font-family: serif;
    font-weight: 200;
    font-size: 29px;
   }

  .skills {  
    padding: 50px 20px;  
    background-color: rgba(198, 178, 140, 0.792);  
    margin: 20px 0;  
    border-radius: 8px;  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
    transition: all 0.3s ease;  
    color: white ; 
  } 
  
  .skills:hover {  
    transform: translateY(-5px);  
  } 

  .skillscard1 {  
    background-color: #e1e1e1;  
    color: black;
    padding: 20px;  
    width: 50%;
    margin: 10px;  
    flex: 1 1 calc(45% - 20px);  /* 1(flex grow) 1(flex shrink) calc(flex basis, initial basis) for responsive designs) */
    box-shadow: 0 2px 5px rgba(0, 0, 0,);  
    border-radius: 5px; 
  }  

  .skillscard1:hover {
    background-image: url(html.png);
    background-repeat: no-repeat;
    background-size: 30%;
  }

  .skillscard2 {  
    background-color: #e1e1e1;  
    color: black;
    padding: 20px;  
    width: 60%;
    margin: 10px;  
    flex: 1 1 calc(45% - 20px);  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
    border-radius: 5px;  
  }  

  .skillscard2:hover {
    background-image: url(css.png);
    background-repeat: no-repeat;
    background-size: 30%;
  }
  .skillscard3 {  
    background-color: #e1e1e1;  
    color: black;
    padding: 20px;  
    width: 40%;
    margin: 10px;  
    flex: 1 1 calc(45% - 20px);  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
    border-radius: 5px; 
  }  

  .skillscard3:hover {
    background-image: url(javascript.png);
    background-repeat: no-repeat;
    background-size: 34%;
  }

  .skillscard4 {  
    background-color: #e1e1e1;  
    color: black;
    padding: 20px;  
    width: 70%;
    margin: 10px;  
    flex: 1 1 calc(45% - 20px);  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
    border-radius: 5px;
  }  

  .skillscard4:hover {
    background-image: url(figma.png);
    background-repeat: no-repeat;
    background-size: 30%;
  }

  
  /* Projects Styles */ 
  
  .projectbg h2 {
    color: white;
    font-weight: 200;
    font-size: 29px;
    font-family:serif 
  }

  .projectbg {  
    background-image: url("projectbg.jpg");
    background-size: 100%;
    padding: 50px 20px;  
    margin: 20px 0;  
    border-radius: 8px;  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
    transition: all 0.3s ease;
  }  
  
  .projectbg:hover {  
    transform: translateY(-5px);  
  }  

  .project-container {  
    display: flex;  
    flex-wrap: wrap;  
    justify-content: space-between; 
    background-image: url("projectbg.jpg");
    background-size: 100%;
  }  
  
  .project {  
    background-color: #e1e1e1;  
    padding: 20px;  
    margin: 10px;  
    flex: 1 1 calc(45% - 20px);  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
    border-radius: 5px;  
    transition: transform 0.3s ease, box-shadow 0.3s ease;  
  }  

  .project a{
    text-decoration: none;
    color: rgb(16, 15, 15);
    font-weight: 300; 
    font-family: sans-serif;
    font-size: x-large
  }
  
  .project:hover {  
    transform: translateY(-3px);  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  } 
  
  
  /* Contactme */
  .contact {  
    background-image: url("footerbg.gif");
    background-size: 100%;
    padding: 50px 20px;  
    color: white;  
    margin: 20px 0;  
    border-radius: 8px;  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
    transition: all 0.3s ease;  
  }  

  .contact a{
    text-decoration: none;
    color: white; 
  }
  
  .contact:hover {  
    transform: translateY(-5px);  
  }  

  .contact h2 {
    font-family: serif;
    font-size: 25px;
  }
  .contact p {
    font-weight: 500;
    font-family: serif;
    font-size: 22px;
  }

  .contact a:hover {
    color: rgb(124, 204, 239)

  }
  
  /* Footer Styles */  
  footer {  
    text-align: center;  
    padding: 20px 0;  
    background-color: #d0ac8f;  
    color: white;  
  }  
  
  /* Responsive Styles */  
  @media (max-width: 600px) {  
    .project {  
      flex: 1 1 100%;  
    }  
  }


  